name: auto-merge

on:
  pull_request_target:

permissions:
  pull-requests: write
  contents: write

jobs:
  dependabot:
    if: github.event.pull_request.user.login == 'dependabot[bot]'
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: abtion/dependabot-auto-merge@v1.0.0
        with:
          config: >-
            [
              { "update-type": "semver-minor" }
            ]
          github-token: ${{ secrets.GITHUB_TOKEN }}
